*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    /* background:#14152b;; */
    background: #081b29;
    color:#ededed;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 0.2s;
}
.navbar a:hover{
    color: blue;
}
.home{
    /* margin-top: 80px; */
    position:relative;
    width:100%;
    justify-content: space-between;
    height:100vh;
    /* background:url(images/pic3.png) no-repeat; */
    /* background-color: #14152b; */
    background-size:cover;
    background-position: center; 
    display:flex;   
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .3s;
}
.home-content h1{
    font-size: 48px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}
.home-content p{
    margin-top: 5px;
}
.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px;
    background: transparent;
    border: 2px solid rgb(16, 120, 128);
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin-top: 20px;
    margin-right:10px;
    margin-bottom: 20px;
}
.home-sci a:hover{
    background:#0ef;
    color: black;
}

.btn-box{
    display:inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color:#081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn-box:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.about{
   width: 100%;
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   gap:1.5rem;
}

.about-img{
    width:500px;   
}
.about-img img{
    float: right;
    max-width: 500px;
    height:280px;
    width:260px;
    border-radius: 50%;
}
.about-text{
    margin-top: 60px;
    float: left;
    width: 500px;
    text-align: justify;
}
.about-text h2{
    font-size: 60px;
}
.about-text span{
    color:#0ef;
}
.notneeded{
    width:400px;   
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width:600px;
    height:500px;
    padding:75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size:23px;
}
.technical-bars .bar{
    margin-top: 20px;
}
.technical-bars .bar:first-child{
    margin-top: 0px;
}
.technical-bars .bar:last-child{
    margin-bottom: 0px;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
   font-size:17px;
   font-weight:500;
   animation: showText 0.5s 1s linear forwards;
   opacity:0;
}

.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 5px;
    width: 400px;
    height:10px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}


.technical-bars .bar .progress-line span{
    height:100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 5px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:90%;
}
.progress-line.javascript span{
    width:70%;
}
.progress-line.python span{
    width:80%;
}
.progress-line.cpp span{
    width:95%;
}
.progress-line.java span{
    width: 60%;
}
.progress-line.php span{
    width:85%;
}


.progress-line span::after{
    position: absolute;
    padding:1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0; 
}

.progress-line.html span::after{
    content:"90%";
}
.progress-line.css span::after{
    content:"90%";
}
.progress-line.javascript span::after{
    content:"70%";
}
.progress-line.python span::after{
    content:"80%";
}
.progress-line.cpp span::after{
    content:"95%";
}
.progress-line.java span::after{
    content: "60%";
}
.progress-line.php span::after{
    content:"85%";
}

.progress-line span::before{
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right:0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height:170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-line{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes aniamte-bar {
    100%{
        stroke-dashoffset: -1;
    }
    
}
.path{
    stroke-width: 10;
    stroke:#0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 70;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 70;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 50;
    }
}


.radial-bar .percentage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    
}


.sub-title{
    margin-top: 120px;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}
.sub-title span{
    color: #0ef;
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 40px;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));

}

.row{
    position: relative;
    overflow:hidden ;
    border-radius: 8px;
    cursor:pointer;
}
.row img{
    width:100%;
    margin-left:10px;
    display: block;
    transition: transform 0.5s;
    border-radius: 10px;
}
.layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0,1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color:#000;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 500;
}

.layer i{
   color:#ff004f;
   margin-top: 20px;
   font-size: 20px;
   background: #0e0230;
   width: 60px;
   height: 60px;
   display:flex ;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
    filter: blur(10px);
}
.row:hover .layer{

    height:100%;
}

.contact{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 100px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color:rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}
.contact-text p{
    color:rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom:3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
}
.contact-form form input,form textarea{
    border:none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height:220px;

}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    /* opacity: 0;
    animation: sideTop 1s ease forwards;
    animation-delay: 2s; */
}


















@keyframes showText {
    100%{
        opacity: 1;
    }
    
}
@keyframes animate{
    100% {
        transform:scaleX(1);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.img1st{
    border-radius: 50%;
    height:480px;
    width:460px;
    margin-left: 0;
}
